{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "SPS_SCHEDULE": "0 */15 * * * *",
    "SPS_MAILBOX": "sps-analytics@swimusa.com",
    "SPS_SP_HOSTNAME": "mainstreamswimsuits.sharepoint.com",
    "SPS_SP_SITE_PATH": "/sites/CompanyHub",
    "SPS_SP_LIBRARY": "Documents",
    "SPS_LIBRARY_ROOT": "/02 - Sales/05 - Published Reports",
    "SPS_MAPPING_LIST": "SPS Filing Map",
    "SPS_LOOKBACK_HOURS": "24",
    "SPS_DRY_RUN": "true"
  }
}
